body {
	color: #FBFFD9; font-family: "Bell MT", Veranda, serif;
}
h1 {
	color: #61032F; font-family: "Bell MT", Veranda, serif; font-size: 36px; 
}
h2 {
	color: #000000; font-family: "Bell MT", Veranda, serif; font-size: 18px; 
}